*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 10px;*/
/* 1rem = 10px */
font-size: 62.5%;
}

.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    font-weight: 400;
    color: #555;

}

.test{
    background-color: rgb(254, 14, 6);
    padding: 10rem;
    /*10px*10rem = 100[x */
    max-width: 100rem;
}