/* **************************** */
/* ********reusable components******** */
/* **************************** */

.btn{
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    border-radius: 9px;
    font-family: inherit;
}

.btn--full{
    background-color: #e67e22;
}

.btn--full:hover{
    background-color: #e07618;

}

.btn--outline{
    background-color: #fff;
    color: #555;
}

.btn--outline:hover{
    background-color:#fdf2e9;
}

/*code for custom grid*/
.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    padding-top: 9.6rem;
}

.grid--2cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4cols{
    grid-template-columns: repeat(4, 1fr);
}

.grid--5cols{
    grid-template-columns: repeat(5, 1fr);
}

/* **************************** */
/* ********Header section******** */
/* **************************** */

.header{
    display: flex;
background-color: #fdf2e9;
justify-content: space-between;
align-items: center;
padding: 0 4.8rem;
}

.logo{
    height: 40px;
}

/* **************************** */
/* ****Navigation Section******* */
/* **************************** */

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
    font-size: 1.5rem;
}

.main-nav-link{
    display: inline-block;
    text-decoration: none;
    color: #333;   
    font-size: 1.8rem;
    transition: all 0.3s;
}
.main-nav-link:hover {
    color: #cf711f;
}

.nav-cta{
    padding: 1.2rem 2.4rem;
    background-color: #e67e22;
    color: white;
    border-radius: 9px;

 .nav-cta:hover:{
    background-color: #341fcf;
    color: white;
} 

}
/* **************************** */
/* ********Hero Section******** */
/* **************************** */
.section-hero{
    
    background-color: #fdf2e9;
    padding: 9.6rem 0;
}

.hero{
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 130rem;
margin: 0 auto;
align-items: center;
gap: 9.6rem;
}

.hero-img{
width: 100%;
}

.heading-primary{
    color: #333;
    font-size: 6.2rem;
    line-height: 1.05;
    font-weight: 700;
    margin-bottom: 4.8rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}


/* *********How it works Section*********/







